
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');

* {
  font-family: 'Alegreya Sans', sans-serif;
}


.navbar{
  border-radius: 0px 0px 10px 10px;
	height: 100px;
  width: 100%;
}

.navbar-title{
	display:block; 
	float:left; 
	font-size: 15;
}


ul.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}




li.navbar-list-item {
  float: left;
}

li.navbar-list-item:nth-child(odd) {
  clear: left;
  overflow: auto;
  max-width: 100%;
  font-size: 20px;
  font-size: bold;

}

li .nav-image {
  opacity: 50%;
  width: 50px;
}

li .nav-image:hover {
  opacity: 100%;
  width: 50px;
}

ul.table-of-content{
  background-color: #257604;
  display: flex;
  align-items: center;
}

#puzzle-container {
  width: 400px;
  height: 300px;
  overflow-y: auto;
  overflow-x: auto;
  resize: both;
  position: relative;
  z-index: 2;
}

iframe {
    width: 320px;
    height: 320px;
    border: 0;
    transform: scale(0.9);
    overflow: hidden;
    transform-origin: 0 0;

}